body {
  background-color: #c4e9d0 ;
  }

  /*menu de navigation*/
  .navbar {
    margin: 20px ;
    border-radius: 20px ;
    padding:20px ;
  }
   
  
 /*fils d'ariane*/
.ariane {
  margin-top: 20px ;
}

.first ol {
  background-color: black !important ;
}

.first a:hover {
  color: #ffffff !important ;
}

.first {
  background-color: white !important ;
  border-radius: 20px ;
}

.color {
  text-decoration: none !important ;
  color: #aaa !important ;
}

.color:focus,
.color:active {
  outline: none !important ;
  box-shadow: none !important ;
}
.active-1 {
  color: #ffffff !important ;
}
.fa-caret-right {
  vertical-align: middle ;
  font-size: 20px !important ;
}
/*Diminution de la taille  de police du file d'ariane sous 767px*/
@media (max-width: 767px) {
  .breadcrumb {
      font-size: 10px ;
  }

  .breadcrumb-item+.breadcrumb-item {
      padding-left: 0 ;
  }

  .fa {
      font-size: 9px !important ;
  } 

  .breadcrumb {
      letter-spacing: 1px !important ;
  }

  .fa-caret-right:before {
      content: "\f0da";
      vertical-align: super !important ;
  }
}
/*suppression du fils d'ariane sous 350px*/
@media (max-width: 350px) {
  .ariane{
     display:none ;
  }
}


/* mise en page textes et images*/
h1{
  font-size: 22px ;
  margin-bottom: 20px ;
  border: #fff solid 2px ;
  border-width: 10px ;
}

h2{
  font-size: 18px ;
  margin: 70px 0 20px 0 ;
}

p{
  font-size: 16px ;
  text-align: center ;
  font-family: cursive ;
}

h1, h2 {
  text-align: center ;
  color: rgb(21, 146, 94) ;
  font-family: 'Kaushan Script', cursive ;
}
.header, div{
  margin: 20px ;
}

img{
  margin: 10px ;
  width: 30% ;
}

.espace{
  margin-bottom: 50px ;
}
.date{
  font-size: 20px ;
  color: #af1d1d ;
}

/*footer*/
.copyright {
  font-size: 14px ;
  font-family: cursive ;
  text-align: left ;
  padding-left: 10px ;
}